.song{
display: flex;
margin-left: 60px;

}

.wallpaper{

height: 130px;
width: 120px;
border-radius: 10%;

}

.song__box{

align-items: center;
text-align: center;
cursor: pointer;

}